body {
  background-image: url('./img/waterfalls-river.png');
  background-size: 1880px 939px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #edeaea;
}

.container {
  background-color: #000000b1;
  padding: 20px 0px 55px 0px;
  margin: 20px 150px;
  border-radius: 5px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: none;
  font-size: 20px;
}

.header-text h1 {
  font-weight:300;
  font-variant: small-caps;
  margin-bottom: 0em;
}

.header-text h2 {
  margin-bottom: 1.5em;
  font-weight: 100;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  margin: auto;
  max-width: 9in;
}

.label-input {
  margin-bottom: 1.5em;
}

.booking-form label {
  display: block;
  position: top;
  font-size: 18px;
  font-weight: 200;
}

.booking-form input {
  width: 170px;
  height: 30px;
  color: #3b3737;
  font-size: 16px;
  border-radius: 5px;
}

.booking-form select {
  width: 175px;
  height: 35px;
  color: #3b3737;
  display: block;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.confirm-btn {
  background-color: #c4c4c4;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #3b3737;
  color: #3b3737;
  font-size: 18px;
  font-weight: 200;
  margin-top: 1.5em;
}